:root {
    --regular-padding:1rem;
    box-sizing: border-box;
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns:max(180px,13vw) repeat(4,1fr);
}

aside {
    grid-area: 1 / 1 / span 5 / span 1;
    padding:var(--regular-padding);
    background-color: #1992D4;
    color: white;
}

aside h1 { margin-top:0; }

aside nav {
    display: flex;
    flex-direction: column;
    gap: calc(var(--regular-padding) * 2);
    margin-top: 4rem;
}

aside nav ul {
    padding: 0;
    margin: 0;
    list-style:none;
}

aside nav ul li a{
    display: block;
    padding: var(--regular-padding);
    text-decoration: none;
    color: white;
}

aside nav ul li a:hover { text-decoration: underline; }

button {
    color: white;
    border: none;
    background-color: #1992D4;
    border-radius: var(--regular-padding);
    padding: var(--regular-padding);
    padding:calc(var(--regular-padding)/2);
    cursor: pointer;
    width: calc(var(--regular-padding) * 5);
}

.buttons{
    display: flex;
    gap: var(--regular-padding);
}

.icon { width: 25px;}

header {
    gap: var(--regular-padding);
    padding: var(--regular-padding) 2rem;
    grid-column: 2 / span 4;
    display: grid;
    align-content: center;
    z-index: 1;
    box-shadow: 1px 1px 4px rgb(134, 132, 132);
}

header > div:first-of-type {
    display: flex;
    justify-content: space-between;
    gap: var(--regular-padding);
}

header p, header h3, header h2 {
    margin:0 auto;
}

header > div:first-of-type form {
    flex: 1;
    max-width: 500px;
}

header > div:first-of-type form > div{
    display: flex;
    gap: var(--regular-padding);
    align-items: center;
}

header > div:first-of-type > form > div input {
    width: 100%;
    padding:0.4rem;
    background-color: rgb(226, 236, 240);
    border: none;
    border-radius: var(--regular-padding);
}

header > div:first-of-type > form + div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

header > div + div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

main {
    grid-column: 2/ span 4;
    padding:calc( var(--regular-padding) + 0.5rem);
    background-color: aliceblue;
}

main h2,
main h3 {
    margin-top: 0;
    margin-bottom: 0;
}

main h4{ margin-bottom: 0; }

main p{ margin-top: 5px; }

.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:var(--regular-padding);
}

.main-container section:first-of-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( max( 135px, calc(100% / 3) ), 1fr) );
    gap:var(--regular-padding) 2rem;
    grid-column: 1 / span 3;
}

.main-container section > div {
    background-color: white;
    padding:var(--regular-padding);
    border-radius:calc(var(--regular-padding) - 7px);
    box-shadow: 1px 1px 4px rgb(134, 132, 132);
}

.card-icons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--regular-padding);
}

.card-icons img {
    width: 25px;
    cursor: pointer;
}

.main-container section:first-of-type > div {
    border-left: 10px solid rgb(255, 208, 0);
}

.main-container h3:nth-last-of-type(1) { grid-area: 1 / 4 / 2 / 5; }

hr { border:0.5px solid rgb(134, 132, 132,0.5); }

.main-container section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.2rem;
}

.main-container section:nth-of-type(2) > div { flex: 1; }
