:root {
    --regular-padding:1rem;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 100%;
    height: 100vh;
}

aside {
    grid-row: 1/7;
    grid-column: 1/2;
    padding:var(--regular-padding);
    background-color: #1992D4;
    color: white;
} 

aside h1 { margin-top:0; }

aside nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style:none;
} 

button {
    color: white;
    border: none;
    background-color: #1992D4;
    border-radius: 10px;
    padding:calc(var(--regular-padding)/2);
    cursor: pointer;
}

header {
    padding: var(--regular-padding);
    grid-row: 1/3;
    grid-column: 2/7;
    display: grid;
}

header > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 1/2;
}

header > div h2, 
header > div h3,
header > div p { 
    margin-top:0; 
}

header >div + div { 
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    grid-row: 3/7;
    grid-column: 2/6;
    padding:var(--regular-padding);
    background-color: aliceblue;
}

main h2, main h3 {
    margin-top: 0;
    margin-bottom: 0;
} 

.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1.2rem;
}

.main-container section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1.2rem;
    grid-column: 1/4;
}

.main-container section:first-of-type > div {
    width: 100%;
    height: calc(150px);
    border: 1px black solid ;
}

.main-container h3:nth-last-of-type(1){
    grid-row: 1/2;
    grid-column: 4/5;
}

.main-container section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.2rem;
} 

.main-container section:nth-of-type(2) > div {
    border: 1px black solid ;
    flex: 1;
} 