:root {
    --regular-padding:1rem;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 100%;
    height: 100vh;
}

aside {
    grid-row: 1/7;
    grid-column: 1/2;
    padding:var(--regular-padding);
    background-color: #1992D4;
    color: white;
} 

aside h1 { margin-top:0; }

aside nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style:none;
} 

button {
    color: white;
    border: none;
    background-color: #1992D4;
    border-radius: 10px;
    padding:calc(var(--regular-padding)/2);
    cursor: pointer;
}

header {
    padding: var(--regular-padding);
    grid-row: 1/3;
    grid-column: 2/7;
    display: grid;
}

header > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 1/2;
}

header > div h2, 
header > div h3,
header > div p { 
    margin-top:0; 
}

header >div + div { 
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

