:root {
    --regular-padding:1rem;
    box-sizing: border-box;
}

@font-face {
    font-family: nexa-heavy;
    src: url("../fonts/Nexa-Heavy.ttf");
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns:clamp(225px,45vw,250px) repeat(4,1fr);
}

h1, h2, h3, h4, h5 { 
    font-family: nexa-heavy, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

p, button, a, input, li { font-family: Helvetica, Arial, Verdana, Geneva, Tahoma, sans-serif; }

.avatar-section {
    display: flex;
    align-items: center;
    column-gap:var(--regular-padding);
}

.avatar-section img { width:60px; }

aside {
    grid-area: 1 / 1 / span 5 / span 1;
    padding:var(--regular-padding);
    background-color: #1992D4;
    color: white;
}

aside .logo { 
    display: flex; 
    column-gap:0.25rem;
    align-items: center;
    font-size: clamp(0.8rem,0.5vw,1.2rem);
}

aside .logo img { width: clamp(20px,10vw,60px); }

aside nav {
    display: flex;
    flex-direction: column;
    gap: calc(var(--regular-padding) * 2);
    margin-top: 4rem;
}

aside nav ul {
    padding: 0;
    margin: 0;
    list-style:none;
}

aside nav ul li a {
    display: block;
    padding: var(--regular-padding);
    text-decoration: none;
    color: white;
}

aside nav ul li > a::before {
    content: "";
    display:inline-block;
    background-image: url('../images/setting-svgrepo-com.svg');
    width:30px;
    height: 30px;
    margin-right: var(--regular-padding);
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
}

aside nav ul li:nth-child(1) a::before { background-image: url('../images/setting-svgrepo-com.svg');}
aside nav ul li:nth-child(2) a::before { background-image: url('../images/support-svgrepo-com.svg');}
aside nav ul li:nth-child(3) a::before { background-image: url('../images/privacy-tips-svgrepo-com.svg');}

aside nav ul:first-child li:nth-child(1) a::before { background-image: url('../images/home-svgrepo-com.svg');}
aside nav ul:first-child li:nth-child(2) a::before { background-image: url('../images/profile-round-1342-svgrepo-com.svg');}
aside nav ul:first-child li:nth-child(3) a::before { background-image: url('../images/messages-svgrepo-com.svg');}
aside nav ul:first-child li:nth-child(4) a::before { background-image: url('../images/history-svgrepo-com.svg');}
aside nav ul:first-child li:nth-child(5) a::before { background-image: url('../images/task-list-add-svgrepo-com.svg');}
aside nav ul:first-child li:nth-child(6) a::before { background-image: url('../images/community-group-leader-svgrepo-com.svg');}

aside nav ul li a:hover { text-decoration: underline; }

button {
    color: white;
    border: none;
    background-color: #1992D4;
    border-radius: var(--regular-padding);
    padding: var(--regular-padding);
    padding:calc(var(--regular-padding) / 2);
    cursor: pointer;
    width: calc(var(--regular-padding) * 5);
}

.buttons {
    display: flex;
    gap: var(--regular-padding);
}

.icon { width: 25px;}

header {
    gap: var(--regular-padding);
    padding: var(--regular-padding) 2rem;
    grid-column: 2 / span 4;
    display: grid;
    align-content: center;
    z-index: 1;
    box-shadow: 1px 1px 4px rgb(134, 132, 132);
}

header > div:first-of-type {
    display: flex;
    justify-content: space-between;
    gap: var(--regular-padding);
}

header p, header h3, header h2 {
    margin:0 auto;
}

header > div:first-of-type form {
    flex: 1;
    max-width: 500px;
}

header > div:first-of-type form > div{
    display: flex;
    gap: var(--regular-padding);
    align-items: center;
}

header > div:first-of-type > form > div input {
    width: 100%;
    padding:0.4rem 0.8rem;
    background-color: rgb(226, 236, 240);
    border: none;
    border-radius: var(--regular-padding);
}

.right-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.right-menu img:nth-last-of-type(1){
    width: 45px;
}

header > div + div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

main {
    grid-column: 2 / span 4;
    padding:calc( var(--regular-padding) + 0.5rem);
    background-color: aliceblue;
}

main h2,
main h3,
main h5 {
    margin-top: 0;
    margin-bottom: 0;
}

main h4{ margin-bottom: 0; }

main p{ margin-top: 5px; }

.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,2fr) 1fr;
    gap:var(--regular-padding);
}

.main-container section:first-of-type { grid-column: 1 / span 2; }

.main-container section > div {
    background-color: white;
    padding:var(--regular-padding);
    border-radius:calc(var(--regular-padding) - 7px);
    box-shadow: 1px 1px 4px rgb(134, 132, 132);
    /* height: clamp(100px,20vh,250px); */
}

.main-container section:first-of-type > div { 
    display: grid;
    border-left: 10px solid rgb(255, 208, 0); 
}

.main-container section:first-of-type > div > p { margin:0; }

.card-icons {
    justify-self: right;
    align-self: end;
}

.card-icons img {
    width: 25px;
    cursor: pointer;
}

.main-container h3:nth-of-type(2) { grid-area: 1 / 3 / 2 / 4; }

.main-container h3:nth-last-of-type(1) + section { grid-column: 3/4; }

hr { border:0.5px solid rgb(134, 132, 132,0.5); }

.main-container section:first-of-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( max( 130px, calc(100% / 2.15) ), 1fr) );
    gap:var(--regular-padding) 2rem;
}

.main-container section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: var(--regular-padding);
}

.main-container section:nth-of-type(2) > div { flex: 1; }